:root{
    // --primary: #EEA324;
    --primary: #ECCB09;
    --primary100: #FFF8E6;
    --primary200: #FFC943;
    --primary300: #FFEBC9;
    --primary400: #E1CC51;
    --secondary: #041975c4;
    --secondary100: #051f91c4;
    --secondary200: #051f91c4;
    --white: #ffffff;
    --whitehalf: rgba(255, 255, 255, 0.5);
    --blackhalf: rgba(0, 0, 0, 0.5);
    --lighthalf: rgba(217, 217, 217, 0.5);
    --black: #000000;
    --bright: #144038;
    --gray: #808080;
    --gray100: #C2BFBF;
    --gray200: #B6B6B6;
    --gray300: #797979;
    --grayhalf: rgba(217, 217, 217, 0.5);
    --gray400: #949292;
    --gray500: #ACACAC;
    --gray600: #EFEFEF;
    --gray700: #A5A5A5;
    --gray800: #6D6D6D;
    --light: hwb(0 85% 15%);
    --light100: #E4E4E4;
    --light200: #F3F3F3;
    --light300: #D7D7D7;
    --light400: #EBF1F0;
    --light500: #FAFAFA;
    --light600: #F5F5F5;
    --light700: #DADADA;
    --light800: #ECEFF1;
    --light900: #E6E6E6;
    --overlay: rgba(7, 30, 26, 0.8);
    --link: #144126;
    --inactive: #5E706C;
    --black100: #040404;
    --black200: #393939;
    --black300: #343434;
    --black400: #424242;
    --black500: #373737;
    --black600: #4E4D4D;
    --black700: #443F3F;
    --success: #55CA44;
    --success100: #62AD9C;
    --success200: #088569;
    --green: #17652C;
    --green100: #246A5A;
    --green200: #13723E;
    --green300: #F0F9E8;
    --green400: #EDFFEA;
    --green500: #1EA907;
    --green600: #E8F5E9;
    --green700: #17CC62;
    --dagner: #EE3024;
    --glassblue: #0E8BFF;
    --warning: #EEDA24;
    --warning100: #FFFADB;
    --danger: #DE2B1F;
    --danger100: #FFE8E8;
    --danger200: #E15A51;
    --approved: #37862A;
    --reject: #AC484E;
}